/*1. General Styles*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

a {
  font-family: 'Roboto Slab', serif;
}

.container {
  max-width: 960px;
  width: 80%;
  margin: 0 auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}


/*2. Header*/
#header-banner {
  background: url(img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 350px;
}

#logo {
  background: url(img/logo.png) no-repeat;
  height: 220px;
  width: 220px;
  text-indent: -10000px;
  line-height: 0;
  position: relative;
  left: 50%;
  transform: translate(-110px);
  top: 240px;
}


/*3. Navigation*/

nav {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  width: 100%;
  height: 85px;
  border-bottom: 2px solid #ddd;
  font-size: 2.4rem;
}


nav li {
  display: inline-block;
  color: #bcbcbc;
  padding: 10px;
  float: left;
  list-style: none;
  text-align: center;
  margin: 15px 15px;
}

nav a {
  text-decoration: none;
}

nav li:hover {
  color: #3eb3a5;
  border-bottom: 5px solid #3eb3a5;
}

nav:after {
  content: "";
  display: block;
  clear: both;
}

#tag-line {
  color: #bcbcbc;
  height: 165px;
  text-align: center;
  padding-top: 80px;
  box-sizing: border-box;
}
#tag-line h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

#tag-line hr {
  width: 50px;
  height: 1px;
  color: #bcbcbc;
  background-color: #bcbcbc;
  border: none;
  margin: 5px auto 0;
  text-align: center;
}

/*4. Posts*/
.post {
  margin: 100px 0;
  padding-bottom: 50px;
  border-bottom: 2px dashed #ddd;
}

.post-date {
  font-size: 3.0rem;
  color: #3eb3a5;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  height: 123px;
  width: 123px;
  padding: 35px 0 0 15px;
  float: left;
  border: 7px solid #ebebeb;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  top: -40px;
  left: 0;
  background: white;
}

.post-info {
    padding: 0 0 25px 140px;
    color: #8e8e8e;
}

.post-info li {
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.post-info:after {
  content: "";
  display: block;
  clear: both;
}

.post-category span a {
  text-decoration: none;
  color: #3eb3a5;
}

.post-category span a:hover {
  border-bottom: 1px solid #3eb3a5;
}

.post-like .fa-heart, .post-comment .fa-comment {
  color: #3eb3a5;
}


.post-body {
  padding-left: 140px;
  margin-top: -115px;
  border-top: 1px solid #ddd;
}

.post-body .post-title {
  font-size: 3.0rem;
  margin: 15px 0;
}

.post-body .post-title a {
  color: #555;
  text-decoration: none;
}

.post-body .post-title a:hover {
  color: #3eb3a5;
}
.post-body .post-summary {
  color: #8e8e8e;
}

.post-read-more {
  margin: 15px 0;
}

.post-read-more a {
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #3eb3a5;
}

#btn-load-more {
  font-size: 1.6rem;
  background-color: rgba(62,179,165, 1);
  width: 140px;
  height: 55px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  display: block;
  margin: 0 auto 50px;
}

#btn-load-more a {
  color: #fff;
  text-decoration: none;
}

#btn-load-more:hover {
  background-color: rgba(62,179,165, .8);
}
/*5. Footer*/

footer {
  margin: 50px auto;
}

footer p {
  font-family: 'Roboto Slab', serif;
  color: #555;
  text-align: center;
}

footer p a {
  text-decoration: none;
  color: rgba(62,179,165, 1);
}

footer p a:hover {
  border-bottom: 1px solid rgba(62,179,165, 1);
}
